<div class="menu">
  <app-expanding-menu></app-expanding-menu>
</div>
<div class="main">
  <div class="charts">
    <mat-card class="categorySale">
      <mat-card-title>Category Wise Sales</mat-card-title>
      <app-category-wise-sales></app-category-wise-sales>
    </mat-card>
    <mat-card class="totalProduct">
      <mat-card-title>Total Products Category Wise</mat-card-title>
      <app-total-products-category-wise></app-total-products-category-wise>
    </mat-card>
    <mat-card class="totalRevenue">
      <mat-card-title>Total Revenue</mat-card-title>
      <app-total-revenue></app-total-revenue>
    </mat-card>
    <mat-card class="totalOrders">
      <mat-card-title>Total Orders</mat-card-title>
      <app-total-orders></app-total-orders>
    </mat-card>
    <mat-card class="totalUser">
      <mat-card-title>Total Users</mat-card-title>
      <app-total-user></app-total-user>
    </mat-card>
    <mat-card class="bestProduct">
      <mat-card-title>Best Products</mat-card-title>
      <app-best-products></app-best-products>
    </mat-card>
  </div>
</div>
