<div class="footer">
  <div class="logo">
    <img [src]="'assets/logo.png'" width="50" height="50" />
    <h2 class="brand-tag">ShoppingCart.com</h2>
  </div>
</div>

  <div class="footer info">
    <p><b>About Us</b></p>
    <p>
      Shopping Cart empowers small and medium-sized businesses to reach millions
      of customers with a number of programmes that help boost their revenue,
      reach and productivity. By telling stories from a wide range of
      perspectives, we tell the larger story of who Shopping Cart is and how
      Shopping Cart's core business practices contribute to a better India.
    </p>
    <p>
      <mat-icon> local_phone</mat-icon>
      <b>Contact Us:</b>
      +91 99999 99999
    </p>
  </div>
<!-- </div> -->
