.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.logoImg {
  width: 100px;
}

.logoImg {
  animation: bounce 1s ease-in-out, shift 1s ease-out 1s, shift1 1s ease-in-out 2s infinite;
  transition: 400ms;
}
span {
  height: 39px;
  padding-top: 4px;
  font-size: xx-large;
  background: -webkit-linear-gradient(140deg, #c47106, #50d0fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  z-index: -1;
  transition: 400ms;
  animation: move 1s ease-in-out 1.7s, fix 1s ease-in-out 2.7s infinite;
}

@keyframes shift {
  0% {
    position: absolute;
    left: 46%;
    transform: rotateZ(0deg);
    z-index: 999;
  }
  25% {
    position: absolute;
    left: 44%;
    transform: rotateZ(-90deg);
    z-index: 999;
  }
  50% {
    position: absolute;
    left: 42%;
    transform: rotateZ(-180deg);
    z-index: 999;
  }
  75% {
    position: absolute;
    left: 40%;
    transform: rotateZ(-270deg);
    z-index: 999;
  }
  100% {
    position: absolute;
    left: 38%;
    transform: rotateZ(-360deg);
    z-index: 999;
  }
}

@keyframes shift1 {
  0%,
  100% {
    position: absolute;
    left: 38%;
    z-index: 999;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
}

@keyframes move {
  0% {
    left: 41%;
    z-index: 1;
  }
  100% {
    left: 45%;
    z-index: 1;
  }
}

@keyframes fix {
  0%,
  100% {
    z-index: 1;
    left: 46%;
  }
  50% {
    z-index: 1;
    left: 46%;
    text-shadow: #50d0fb 1px 0 8px;
  }
}

@media all and (max-width: 699px) {
  .logoImg {
    width: 80px;
  }
  span {
    font-size: x-large;
  }
  @keyframes move {
    0% {
      left: 34%;
      z-index: 1;
    }
    100% {
      left: 39%;
      z-index: 1;
    }
  }
  @keyframes fix {
    0%,
    100% {
      z-index: 1;
      left: 39%;
    }
    50% {
      z-index: 1;
      left: 39%;
      text-shadow: #50d0fb 1px 0 8px;
    }
  }
  @keyframes shift {
    0% {
      position: absolute;
      left: 45%;
      z-index: 999;
    }
    100% {
      position: absolute;
      left: 19%;
      z-index: 999;
    }
  }
  @keyframes shift1 {
    0%,
    100% {
      position: absolute;
      left: 19%;
      z-index: 999;
    }
  }
}

@media all and (max-width: 329px) {
  .logoImg {
    width: 60px;
  }
  span {
    font-size: large;
  }
}
