.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.logoImg {
  width: 100px;
}

.logoImg {
  animation: bounce 1s ease-in-out, shift 1s ease-out 1s, shift1 1s ease-in-out 2s infinite;
  transition: 400ms;
}
.logoName {
  display: block;
  height: 39px;
  padding-top: 4px;
  font-size: xx-large;
  background: -webkit-linear-gradient(140deg, #c47106, #50d0fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  z-index: -1;
  transition: 400ms;
  animation: move 1s ease-in-out 1.5s, fix 1s ease-in-out 2.5s infinite;
}

@keyframes shift {
  0%{
    position: absolute;
    left: 45%;
    z-index: 999;
  }
  100% {
    position: absolute;
    left: 38%;
    z-index: 999;
  }
}

@keyframes shift1 {
  0%,
  100% {
    position: absolute;
    left: 38%;
    z-index: 999;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
}

@keyframes move {
  0% {
    left: 41%;
    z-index: 1;
  }
  100% {
    left: 45%;
    z-index: 1;
  }
}

@keyframes fix {
  0%,
  100% {
    z-index: 1;
    left: 46%;
  }
  50% {
    z-index: 1;
    left: 46%;
    text-shadow: #50d0fb 1px 0 8px;
  }
}
