<div class="changePassword">
  <mat-card>
    <form [formGroup]="changePassForm" autocomplete="off" novalidate (ngSubmit)="updatePassword()">
      <mat-form-field appearance="legacy">
        <mat-label>Enter your old password</mat-label>
        <input matInput formControlName="oldPassword" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
        <mat-error *ngIf="hasError('password', 'pasValidator')">Password is not valid</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Enter new password</mat-label>
        <input matInput formControlName="password" [type]="hide1 ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
        <mat-error *ngIf="hasError('password', 'pasValidator')">Password is not valid</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>confirm your password</mat-label>
        <input matInput formControlName="confirmPassword" [type]="hide2 ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePassForm.controls.confirmPassword.invalid">password doesn't match</mat-error>
      </mat-form-field>
      <button mat-raised-button>Update Password</button>
    </form>
  </mat-card>
</div>
